body {
    background-image: url("bandlogo.png");
    background-position: center;
    text-align: center;
}

h1 {
    color: black;
    font-size: 190px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.member-card {
    border: solid;
    width: 100px;
    height: 250px;
    float: left;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 50px;
    background-color: gainsboro;
}

.member-card:hover {
    transform: scale(1.45);
    transition: 0.5s;
}

#band-members-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h5 {
    font-size: 20px;
}

.member-pic {
    height: 155px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

p {
    font-size: 20px;
    border: solid;
    float: left;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 50px;
    background-color: gainsboro;
}

iframe {
    border: solid;

}

iframe:hover {
    color: gainsboro;
}